.content {
    &__secondary p:nth-child(1) {
        background-color: #D07F32;
    }

    &__secondary p:nth-child(2) {
        background-color: #8FB0BF;
    }

    &__secondary p:nth-child(3) {
        background-color: #428168;
    }

    &__secondary p:nth-child(4) {
        background-color: #90AFBD;
    }

    &__secondary p:nth-child(5) {
        background-color: #9E82B3;
    }

    &__secondary p:nth-child(6) {
        background-color: #454446;
    }

    &__secondary p:nth-child(7) {
        background-color: #DD8730;
    }

    &__secondary p:nth-child(8) {
        background-color: #4A86DC;
    }

    &__secondary p:nth-child(9) {
        background-color: #9A7DB0;
    }

    &__secondary p:nth-child(10) {
        background-color: #D8AC58;
    }

    &__secondary p:nth-child(11) {
        background-color: #E2B55A;
    }

    &__secondary p:nth-child(12) {
        background-color: #C8442D;
    }
    &__secondary p:nth-child(13) {
        background-color: #7B648C;
    }

    &__secondary p:nth-child(14) {
        background-color: #728B94;
    }

    &__secondary p:nth-child(15) {
        background-color: #373738;
    }

    &__secondary p:nth-child(16) {
        background-color: #9E2170;
    }

    &__secondary p:nth-child(17) {
        background-color: #366A55;
    }

    &__secondary p:nth-child(18) {
        background-color: #9F2070;
    }
}

